div {
  display: inline-block;
}

.App {
  text-align:center;
  width: 1300px;
  margin: 0 auto;
}
.left{
  width: 100px;
  float: left;
  margin-left: 100px;
}
.right{
  width: 100px;
  float: right;
  margin-left: 100px;
}
.middle{
  width: 100px;
  margin-left: 100px; 
  margin-right: 200px;
}
